<td class="multisites-label label">
    <a title="View reports" ng-href="index.php?module=CoreHome&action=index&date={{ date }}&period={{ period }}&idSite=!?website.idsite?!">!?website.name?!</a>

    <span style="width: 10px; margin-left:3px;">
	<a target="_blank" ng-attr-title="{{ 'General_GoTo'|translate("!?website.url?!") }}" ng-href="!?website.url?!"><img src="plugins/MultiSites/images/link.gif"/></a>
    </span>
</td>
<td class="multisites-column">
    !?website.visits?!
</td>
<td class="multisites-column">
    !?website.pageviews?!
</td>
{% if displayRevenueColumn %}
    <td class="multisites-column">
        !?website.revenue?!
    </td>
{% endif %}
{% if period!='range' %}
<td style="width:170px;">
    <div class="visits" ng-show="evolutionSelector=='visits'">
        <span ng-show="website.visitsSummaryValue > 0"><img src="plugins/MultiSites/images/arrow_up.png" alt="" /> <strong style="color: green;">!?website.visitsSummaryValue?!&nbsp;%</strong></span>
        <span ng-show="website.visitsSummaryValue == 0"><img src="plugins/MultiSites/images/stop.png" alt="" /> <strong>!?website.visitsSummaryValue?!</strong></span>
        <span ng-show="website.visitsSummaryValue < 0"><img src="plugins/MultiSites/images/arrow_down.png" alt="" /> <strong style="color: red;">!?website.visitsSummaryValue?!&nbsp;%</strong></span>
    </div>
    <div class="pageviews" ng-show="evolutionSelector=='pageviews'">
        <span ng-show="website.pageviewsSummaryValue > 0"><img src="plugins/MultiSites/images/arrow_up.png" alt="" /> <strong style="color: green;">!?website.pageviewsSummaryValue?!&nbsp;%</strong></span>
        <span ng-show="website.pageviewsSummaryValue == 0"><img src="plugins/MultiSites/images/stop.png" alt="" /> <strong>!?website.pageviewsSummaryValue?!</strong></span>
        <span ng-show="website.pageviewsSummaryValue < 0"><img src="plugins/MultiSites/images/arrow_down.png" alt="" /> <strong style="color: red;">!?website.pageviewsSummaryValue?!&nbsp;%</strong></span>
    </div>
    {% if displayRevenueColumn %}
        <div class="revenue" ng-show="evolutionSelector=='revenue'">
            <span ng-show="website.revenueSummaryValue > 0"><img src="plugins/MultiSites/images/arrow_up.png" alt="" /> <strong style="color: green;">!?website.revenueSummaryValue?!&nbsp;%</strong></span>
            <span ng-show="website.revenueSummaryValue == 0"><img src="plugins/MultiSites/images/stop.png" alt="" /> <strong>!?website.revenueSummaryValue?!</strong></span>
            <span ng-show="website.revenueSummaryValue < 0"><img src="plugins/MultiSites/images/arrow_down.png" alt="" /> <strong style="color: red;">!?website.revenueSummaryValue?!&nbsp;%</strong></span>
        </div>
    {% endif %}
    {% endif %}
    {% if show_sparklines %}
    <td style="width:180px;">
        <div class="sparkline" style="width: 100px; margin: auto;">
            <a target="_blank" ng-href="index.php?module=CoreHome&action=index&date={{ date }}&period={{ period }}&idSite=!?website.idsite?!"
               title="{% set dashboardName %}{{ 'Dashboard_DashboardOf'|translate('!?website.name?!') }}{% endset %} {{ 'General_GoTo'|translate(dashboardName) }}">
                <img alt="" ng-src="!?sparklineImage(website)?!" width="100" height="25" />

               </a>
        </div>
    </td>
{% endif %}
