{% extends 'dashboard.twig' %}

{% block content %}

    <div class="top_controls_inner">
        {% include "@CoreHome/_periodSelect.twig" %}
    </div>

<div id="multisites" ng-controller="MultiSitesCtrl">
    <div id="main">
        <script type="text/javascript">
            function MultiSitesCtrl($scope)
            {
                var allSites = [];
                {% for i,site in sitesData %}
                allSites[{{ i }}] = new setRowData({{ site.idsite }},
                    {{ site.visits }},
                    {{ site.pageviews }},
                    {% if site.revenue is empty %}0{% else %}{{ site.revenue|raw }}{% endif %},
                    '{{ site.name|e("js") }}',
                    '{{ site.main_url|e("js") }}',
                    '{% if site.visits_evolution is defined %}{{ site.visits_evolution|replace({",":"."}) }}{% endif %}',
                    '{% if site.pageviews_evolution is defined %}{{ site.pageviews_evolution|replace({",":"."}) }}{% endif %}',
                    '{% if site.revenue_evolution is defined %}{{ site.revenue_evolution|replace({",":"."})|raw }}{% endif %}'
                );
                {% endfor %}

                $scope.reverse = '{{ order }}' == 'desc' ? true : false;
                $scope.searchedWebsites = allSites;
                $scope.websites = allSites;
                $scope.predicate = '{{ orderBy }}';
                $scope.currentPage = 0;
                $scope.pageSize = {{ limit }} / 5;
                $scope.evolutionSelector = '{{ evolutionBy }}';
                $scope.numberOfPages=function(){
                    return Math.ceil($scope.searchedWebsites.length/$scope.pageSize);
                }
                $scope.sparklineImage=function(website){
                    var append = '';
                    var token_auth = broadcast.getValueFromUrl('token_auth');
                    if (token_auth.length) {
                        append = '&token_auth=' + token_auth;
                    }

                    return '?module=MultiSites&action=getEvolutionGraph&period={{ period }}&date={{ dateSparkline }}&evolutionBy=' +$scope.evolutionSelector + '&columns=' + $scope.evolutionSelector + '&idSite=' + website.idsite + '&idsite=' + website.idsite + '&viewDataTable=sparkline' + append + '&colors=' + encodeURIComponent(JSON.stringify(piwik.getSparklineColors()));
                }
                $scope.start=function(){
                    return Math.ceil($scope.currentPage*$scope.pageSize);
                }
                $scope.end=function(){
                    var end = $scope.start() + $scope.pageSize;
                    if (end > $scope.searchedWebsites.length) {
                        return $scope.searchedWebsites.length
                    }
                    return end;
                }

            }
        </script>

        <div class="centerLargeDiv">
            <h2>{{ 'General_AllWebsitesDashboard'|translate }}
                {% set nVisits %}{{ 'General_NVisits'|translate(totalVisits) }}{% endset %}
                {% set nVisitsLast %}{{ 'General_NVisits'|translate(pastTotalVisits) }}{% endset %}
                <span class='smallTitle'
                {% if totalVisitsEvolution %}title="{{ 'General_EvolutionSummaryGeneric'|translate(nVisits,prettyDate,nVisitsLast,pastPeriodPretty,totalVisitsEvolution) }}"{% endif %}>
                    {{ 'General_TotalVisitsPageviewsRevenue'|translate("<strong>"~totalVisits~"</strong>","<strong>"~totalPageviews~"</strong>","<strong>"~totalRevenue~"</strong>")|raw }}
	            </span>
            </h2>

            <table id="mt" class="dataTable" cellspacing="0">
                <thead>
                <tr>
                    <th id="names" class="label" ng-click="predicate = 'name'; reverse=!reverse">
                        <span>{{ 'General_Website'|translate }}</span>
                        <span ng-class="{multisites_asc: !reverse && 'name' == predicate, multisites_desc: reverse && 'name' == predicate}" class="arrow"></span>
                    </th>
                    <th id="visits" class="multisites-column" style="width: 100px;" ng-click="predicate = 'visits'; reverse=!reverse">
                        <span>{{ 'General_ColumnNbVisits'|translate }}</span>
                        <span ng-class="{multisites_asc: !reverse && 'visits' == predicate, multisites_desc: reverse && 'visits' == predicate}" class="arrow"></span>
                    </th>
                    <th id="pageviews" class="multisites-column" style="width: 110px;" ng-click="predicate = 'pageviews'; reverse=!reverse">
                        <span>{{ 'General_ColumnPageviews'|translate }}</span>
                        <span ng-class="{multisites_asc: !reverse && 'pageviews' == predicate, multisites_desc: reverse && 'pageviews' == predicate}" class="arrow"></span>
                    </th>
                    {% if displayRevenueColumn %}
                        <th id="revenue" class="multisites-column" style="width: 110px;" ng-click="predicate = 'revenue'; reverse=!reverse">
                            <span>{{ 'General_ColumnRevenue'|translate }}</span>
                            <span ng-class="{multisites_asc: !reverse && 'revenue' == predicate, multisites_desc: reverse && 'revenue' == predicate}" class="arrow"></span>
                        </th>
                    {% endif %}
                    <th id="evolution" style=" width:350px;" colspan="{% if show_sparklines %}2{% else %}1{% endif %}">
                        <span class="arrow" ng-class="{multisites_asc: !reverse && evolutionSelector+'SummaryValue' == predicate, multisites_desc: reverse && evolutionSelector+'SummaryValue' == predicate}"></span>
                        <span class="evolution" style="cursor:pointer;"
                              ng-click="predicate = evolutionSelector+'SummaryValue'; reverse=!reverse"> {{ 'MultiSites_Evolution'|translate }}</span>
                        <select class="selector" id="evolution_selector" ng-model="evolutionSelector"
                                ng-change="predicate = evolutionSelector+'SummaryValue'">
                            <option value="visits" {% if evolutionBy == 'visits' %} selected {% endif %}>{{ 'General_ColumnNbVisits'|translate }}</option>
                            <option value="pageviews" {% if evolutionBy == 'pageviews' %} selected {% endif %}}>{{ 'General_ColumnPageviews'|translate }}</option>
                            {% if displayRevenueColumn %}
                                <option value="revenue" {% if evolutionBy == 'revenue' %} selected {% endif %}>{{ 'General_ColumnRevenue'|translate }}</option>
                            {% endif %}
                        </select>
                    </th>
                </tr>
                </thead>

                <tbody id="tb">
                <tr ng-repeat="website in searchedWebsites | orderBy:predicate:reverse | startFrom:currentPage*pageSize | limitTo:pageSize">
                    {% include "@MultiSites/_siteRow.twig" %}
                </tr>
                </tbody>

                <tfoot>
                {% if isSuperUser %}
                    <tr>
                        <td colspan="8" class="clean" style="text-align: right; padding-top: 15px;padding-right:10px;">
                            <a href="{{ url }}&module=SitesManager&action=index&showaddsite=1">
                                <img src='plugins/UsersManager/images/add.png' alt="" style="margin: 0;"/> {{ 'SitesManager_AddSite'|translate }}
                            </a>
                        </td>
                    </tr>
                {% endif %}

                <tr>
                    <td colspan="8" class="clean" style="text-align: center;">
                        <input type="text" ng-change="searchedWebsites = (websites | filter:searchWebsite);currentPage=0" ng-model="searchWebsite" placeholder="Search for websites">
                    </td>
                </tr>

                <tr row_id="last">
                    <td colspan="8" class="clean" style="padding: 20px;" ng-hide="numberOfPages() <= 1">
                        <span id="prev" class="pager" style="padding-right: 20px;" ng-hide="currentPage == 0" ng-click="currentPage=currentPage-1">
                            <span style="cursor:pointer;">&#171; {{ 'General_Previous'|translate|e("js") }}</span>
                        </span>
                        <span class="dataTablePages">
                            <span id="counter">
                                <span>!?start()?! - !?end()?! of !?searchedWebsites.length?!</span>
                            </span>
                        </span>
                        <span id="next" class="clean" style="padding-left: 20px;" ng-hide="currentPage >= websites.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                            <span style="cursor:pointer;" class="pointer">{{ 'General_Next'|translate|e("js") }} &#187;</span>
                        </span>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <script type="text/javascript">

            {% if autoRefreshTodayReport %}
            piwikHelper.refreshAfter({{ autoRefreshTodayReport }} * 1000);
            {% endif %}
        </script>
    </div>
</div>
{% endblock %}